<div class="home__div14">
    <div class="home__div15">
      <div class="home__div16">
        <p>nickjonesuncensored</p>
      </div>
      <div class="home__div17">
        <div class="home__div3">
          <form action="." method="post">
            {% csrf_token %}
            <div class="home__div4">
              <input
                type="text"
                placeholder="Enter your Email"
                class="home__input1"
                name=""
                id=""
              />
              <button class="home__button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
      <div class="home__div18">
        <p>© 2023 nickjonesuncensored .</p>
      </div>
    </div>
</div>