<div class="home__div14">
    <div class="home__div15">
      <div class="home__div16">
        <p>The Killer Mindset</p>
      </div>
      <div class="home__div17">
        <div class="home__div3">
          <form action="." method="post">
            {% csrf_token %}
            <div class="home__div4">
              {{ form }}
          <input style="cursor: pointer;" type="submit" value="Subscribe" class="home__button" />
            </div>
          </form>
        </div>
      </div>
      <div class="home__div18">
        <p>© 2023 The Killer Mindset .</p>
      </div>
    </div>
</div>